version: '3.1'

services:
  db:
    image: postgres
    ports:
      - 5433:5432
    environment:
      POSTGRES_DB: orula
      POSTGRES_USER: nyala
      POSTGRES_PASSWORD: password
    volumes:
      - orula_db:/var/lib/postgresql/data

volumes:
  orula_db: {}
